canvas{
	background-color:white;
	background:url(
		data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGUlEQVQImWMoKSnxxYUZSkpKfBlwgcEmCQBtLRWWAefWggAAAABJRU5ErkJggg==
   	) repeat;
}